<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
    
        <link rel="stylesheet" type="text/css" href="/css/contactstyle.css">

</head>
<body>
    
<div id="contact-form">
    
      
  <form  method="POST" action="/contact">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" required>

    <label for="message">Message:</label>
    <textarea id="message" name="message" required></textarea>

    <button type="submit" >Send</button>
  </form>
</div>

<div id="contact-info">
  <h2>Contact Information</h2>
  <p>Email: <a href="mailto:info@SRBank.co.ke">info@example.com</a></p>
  <p>Phone: <a href="tel:+1234567890">(123) 456-7890</a></p>
</div>




</body>
</html>