
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>SR BANK</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
 
    

  </head>
  <body>
    <header>
      <h1>SR BanK</h1>
      <nav>
        <ul>
        
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Welcome to SR Bank</h2>
      <p>Here is some information about our bank and the services we offer.</p>
      <section>
        <h1>For Individual</h1>
        <p>New Account.<br>
          Forex.<br>
          Loans</p>
      </section>
      <section>
        <h1>Transactions</h1>
        <p>Perform transactions such as:<br>
          Transfers <br> 
          Payments <br>
          Deposits.</p>
      </section>
      
      
      <section>
        <h1>Business</h1>
        <p>New Accounts.<br>
          Loans.<br> 
          Business Mobile.<br>
          Financing.</p>
      </section>
      <section>
        <h1>Cards</h1>
        <p>Credit.<br>
          Debit.<br> 
          Prepaid</p>
      </section>
    </main>
    <script src="/js/scriptDF.js"></script>
   <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="BankingChatBot"
  agent-id="629d9860-a349-45a4-ade1-5b989b9bfe70"
  language-code="en"
></df-messenger>
  </body>
</html>
