/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: #006699;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Main Content */

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  margin-top: 0;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

